img {
  width: 100%; }

#logo {
  width: 40px; }

#buttonsHolder {
  display: none; }

.letter {
  width: 30px;
  margin: 5px;
  background-color: transparent;
  background-image: linear-gradient(to bottom right, transparent 50%, #ededed);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #aaaaaa; }
